@charset "utf-8";
/* CSS Document */
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@font-face {
	font-family: Gliker;
	src: url(fonts/Gliker-Regular.ttf);
}

*{
	margin:0px;
	padding:0px;
	list-style:none;
	text-decoration: none;
}
body {
	margin: 0;
}

/* Header
**********/

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

#botonera{
	width: 100%;
	background: #fa7171;
	position: fixed;
}

#botonera nav{
	display: flex;
	justify-content: center;
}

#botonera nav a{
	font-family: "gliker";
	font-size: 1em;
	color: #5E3814;
	padding: 16px 82px;
	display: flex;
	justify-content: center;
	align-items: center;
	letter-spacing: 2px;
}

#botonera nav a:hover{
	background-color: #6e9ef8;
	color: #ffffff;
}

/* Index
**************/

.background-img{
	width: 100%;
	height: 100%;
	position: relative;
}
#boton-index a{
	position: absolute;
	font: 400 40px oswald, sans-serif;
	font-size: 30px;
	color: #5E3814;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	width: 380px;
	height: 65.29px;
	left: 500px;
	top: 524px;
	border: 2px solid #5E3814;
	border-radius: 25px;
}
#boton-index a:hover{
	color: #5E3814;
	background-color: rgba(255,255,255,1.00);
	box-shadow: 0.5em 0.5em 0.5em;
}
.introduccion{
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 25%;
	left: 2%;
}
.introduccion p{
	font-family: "gliker";
	width: 40%;
	text-align: center;
	color: #5E3814;
	font-size: 50px;
}

/* Main
***************/

main img {
	border-radius: 90px;
	border: solid #fa7171;
	height: 175px;
	width: 175px;
	position: relative;
}

h1 {
	color: #5E3814;
	font-family: "gliker";
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
	font-size: 50px;
	letter-spacing: 2px;
}

h2 {
	color: #fff;
	font-style: italic;
	font: 400 20px oswald, sans-serif;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}

.datos2 li{
	color: #fff;
	display: flex;
	position: relative;
	font: 400 14px oswald, sans-serif;
}
.datos2 li p{
	padding-left: 5px;
}
p {
	font: 400 14px oswald, sans-serif;
}

main {
	max-width: 860px;
	width: 80%;
	margin: auto;
	padding: 29px 0;
}

main h3 {
	border-bottom: 1px solid #bdbdbd;
	padding: 0 0 10px 0px;
	margin-top: 60px;
	font: 400 20px oswald, sans-serif;
}

main h4{
	color: #836;
	font-weight: normal;
	font: 400 18px oswald, sans-serif;
	line-height: 1px;
}

.separacion {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: stretch;
}

.grupo2{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin: auto;
	width: 400px;
}

.experiencias li{
	margin-bottom: 28px;
}

.experiencias ul{
	padding: 2px 0px;
}

.grupo2 .barras {
	padding: 0px;
	margin: 2px 0px;
}

.grupo2 .barras li {
	margin-bottom: 20px;
	position:relative;
	font: 400 14px oswald, sans-serif;
}

.grupo2 .barras li span {
	background: #836;
	bottom: -4px;
	display: block;
	height: 5px;
	width: inherit;
}

.datos ul li {
	font: 400 15px oswald, sans-serif;
	margin-bottom: 3px;
}

.datos ul{
		padding-left: 0px;
}

.datos{
	margin-left: 80px;
	width: 360px;
}

.tres img{
	width: 50px;
	height: 50px;
	margin-left: 0px;
	margin-bottom: 50px;
	margin-right: 40px;
}

.dos img{
	width: 50px;
	height: 50px;
	margin-left: 0px;
	margin-right: 40px;
}

.gris {
	background-position: 0 -2px;
	color: #848484;
	font: 400 15px oswald, sans-serif;
}

.iconos{
	width: 400px;
}

.info li {
	margin: 0px;
	width: 400px;
}

.info ul{
	display: flex;
	flex-direction: column;
}

.info{
	display: flex;
	flex-direction: row;
}

.formacion1 ul{
	padding: 0px 0px;
	width: 480px;
}

.formacion2 ul{
	padding: 0px 0px;
}

li{
	list-style: none;
}

/*footer
*************/

footer {
	padding: 29px 0;
	background:#836;
	margin-top: 40px;
}
.fin p {
	color: #fff;
	font-weight:lighter;
	display: inline;
	padding-left: 25px;
	font-size: 13px;
}
.fin{
	max-width: 860px;
	width: 80%;
	margin: auto;
}