@charset "utf-8";
/* CSS Document */
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@font-face {
	font-family: Gliker;
	src: url(fonts/Gliker-Regular.ttf);
}

*{
	margin:0px;
	padding:0px;
	list-style:none;
	text-decoration: none;
}
body {
	margin: 0;
}

/* Header
**********/

header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#botonera{
	width: 100%;
	background: #fa7171;
	position: fixed;
}

#botonera nav{
	display: flex;
	justify-content: center;
}

#botonera nav a{
	font-family: "gliker";
	font-size: 1em;
	color: #5E3814;
	padding: 20px 82px;
	display: flex;
	justify-content: center;
	align-items: center;
	letter-spacing: 2px;
}

#botonera nav a:hover{
	background-color: #6e9ef8;
	color: #ffffff;
}

/* Index
**************/

.background-img{
	width: 100%;
	height: 100%;
	position: relative;
}
#boton-index a{
	position: absolute;
	font: 400 40px oswald, sans-serif;
	font-size: 30px;
	color: #5E3814;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	width: 380px;
	height: 65.29px;
	left: 500px;
	top: 524px;
	border: 2px solid #5E3814;
	border-radius: 25px;
}
#boton-index a:hover{
	color: #5E3814;
	background-color: rgba(255,255,255,1.00);
	box-shadow: 0.5em 0.5em 0.5em;
}
.introduccion{
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 25%;
	left: 2%;
}
.introduccion p{
	font-family: "gliker";
	width: 40%;
	text-align: center;
	color: #5E3814;
	font-size: 50px;
}

/* Main
***************/

main {
	width: 100%;
}

.contenedor{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: stretch;
	gap: 15%;
	background-color: #ddeaf5;
	padding: 15% 10% 18% 7%;
}

.contenedor p {
	font: 400 14px oswald, sans-serif;
	font-size: 19px;
}

.contenedor img {
	border-radius: 90px;
	border: solid #fa7171;
	height: 175px;
	width: 175px;
	position: relative;
}

h1 {
	color: #5E3814;
	font-family: "gliker";
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
	font-size: 50px;
	letter-spacing: 2px;
	padding-bottom: 5%;
}

.herramientas{
	background-color: #f5ddec;
	padding: 8% 0% 10% 7%;
}

h2 {
	color: #5E3814;
	font-family: "gliker";
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
	font-size: 37px;
	letter-spacing: 2px;
	padding-bottom: 2%;
}

h3 {
	color: #ffffff;
	font-family: "gliker";
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
	font-size: 37px;
	letter-spacing: 2px;
	padding-bottom: 2%;
}

.herramientas p {
	padding-bottom: 100px;
}

.division {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
}

.grupo1 img{
	margin-left: 0px;
	margin-bottom: 90px;
	margin-right: 60px;
}

.grupo2 img{
	margin-left: 0px;
	margin-right: 60px;
	margin-bottom: 50px;
}

.iconos{
	width: 400px;
}

.separacion {
	background-color: #6e9ef8;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding: 8% 0% 8% 7%;
	gap: 30%;
}

.experiencias li{
	margin-bottom: 30px;
}

.info li {
	margin: 0px;
	width: 400px;
	padding-bottom: 10%;
}

.referencias {
	background-position: 0 -2px;
	color: #000000;
	font: 400 15px oswald, sans-serif;
}

li{
	list-style: none;
}

h4{
	color: #ffffff;
	font-weight: normal;
	font: 400 18px oswald, sans-serif;
}

.datos{
	background-color: #fa7171;
	padding: 5% 0% 5% 7%;
}

.datos ul li {
	font: 400 15px oswald, sans-serif;
	margin-bottom: 3px;
	color: #fff;
	display: flex;
	position: relative;
	line-height: 30px;
}

p {
	font: 400 14px oswald, sans-serif;
	font-size: 20px;
}

/*footer
*************/

footer {
	padding: 29px 0;
	background: #000000;
}
.fin p {
	color: #fff;
	font-weight:lighter;
	display: inline;
	padding-left: 25px;
	font-size: 13px;
}
.fin{
	padding: 2px 0% 2px 7%;
	margin: auto;
}