@charset "utf-8";
/* CSS Document */
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);

body {
	margin: 0;
}

/* Header
**********/
.contenedor {
	max-width: 860px;
	width: 80%;
	display: flex;
	margin: auto;
	/*intente cambiar el margin por justify-content: center pero no funciono, no se alineo como tendria*/
	align-items: flex-end;
}

header {
	background:#836;
	border-bottom: 1px solid #848484;
	padding: 29px 0;
	overflow: hidden;
}

header img {
	border-radius: 90px;
	border: solid #fff;
	height: 175px;
	width: 175px;
	position: relative;
}

.titulo {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-left: 26%;
}

h1 {
	color: #fff;
	font: 400 40px oswald, sans-serif;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
	line-height: 0px;
}

h2 {
	color: #fff;
	font-style: italic;
	font: 400 20px oswald, sans-serif;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}

.datos2 li{
	color: #fff;
	display: flex;
	position: relative;
	font: 400 14px oswald, sans-serif;
}
.datos2 li p{
	padding-left: 5px;
}

/* Main
***************/

p {
	font: 400 14px oswald, sans-serif;
}

main {
	max-width: 860px;
	width: 80%;
	margin: auto;
	padding: 29px 0;
}

main h3 {
	border-bottom: 1px solid #bdbdbd;
	padding: 0 0 10px 0px;
	margin-top: 60px;
	font: 400 20px oswald, sans-serif;
}

main h4{
	color: #836;
	font-weight: normal;
	font: 400 18px oswald, sans-serif;
	line-height: 1px;
}

.separacion {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: stretch;
}

.sobremi {
	margin-right: 80px;
	width: 400px;
}
.grupo2{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin: auto;
	width: 400px;
}

.experiencias li{
	margin-bottom: 28px;
}

.experiencias ul{
	padding: 2px 0px;
}

.grupo2 .barras {
	padding: 0px;
	margin: 2px 0px;
}

.grupo2 .barras li {
	margin-bottom: 20px;
	position:relative;
	font: 400 14px oswald, sans-serif;
}

.grupo2 .barras li span {
	background: #836;
	bottom: -4px;
	display: block;
	height: 5px;
	width: inherit;
}

.datos ul li {
	font: 400 15px oswald, sans-serif;
	margin-bottom: 3px;
}

.datos ul{
		padding-left: 0px;
}

.datos{
	margin-left: 80px;
	width: 360px;
}

.tres img{
	width: 50px;
	height: 50px;
	margin-left: 0px;
	margin-bottom: 50px;
	margin-right: 40px;
}

.dos img{
	width: 50px;
	height: 50px;
	margin-left: 0px;
	margin-right: 40px;
}

.gris {
	background-position: 0 -2px;
	color: #848484;
	font: 400 15px oswald, sans-serif;
}

.iconos{
	width: 400px;
}

.info li {
	margin: 0px;
	width: 400px;
}

.info ul{
	display: flex;
	flex-direction: column;
}

.info{
	display: flex;
	flex-direction: row;
}

.formacion1 ul{
	padding: 0px 0px;
	width: 480px;
}

.formacion2 ul{
	padding: 0px 0px;
}

li{
	list-style: none;
}

/*footer
*************/

footer {
	padding: 29px 0;
	background:#836;
	margin-top: 40px;
}
.fin p {
	color: #fff;
	font-weight:lighter;
	display: inline;
	padding-left: 25px;
	font-size: 13px;
}
.fin{
	max-width: 860px;
	width: 80%;
	margin: auto;
}